@font-face {
  font-family: Gumela;
  src: url("./fonts/Gumela.ttf");
}
:root {
  --main-color: #F4FA1A;
  --main-bg-color: #1A1A1A;
  --sec-bg-color: #2b2a2a;
  --text-color:#fff;
  --gray: #C4C4C4;
  --white: #fff;
  --black: #000;
  --border-color: #777;
}
::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track{
  background-color: var( --main-bg-color);
}
::-webkit-scrollbar-thumb{
  background-color: var(--black);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-family: Gumela;
  font-size: 16px;
  font-weight: 400;
}
body {
  font-family: Gumela;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  overflow-x: hidden;
  width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 0;
}
.app{
  max-width: 1400px;
  margin: 0 auto;
  box-shadow: 0 0 5px #7777;
}
.d_flex{
  display: flex;
}
.d_flex_column{
  flex-direction: column;
}
.d_flex_row{
  flex-direction: row;
}
.d_flex_column_reverse{
  flex-direction: column-reverse;
}
.d_flex_wrap{
  flex-wrap: wrap;
}
.d_flex_wrap_reverse{
  flex-wrap: wrap-reverse;
}
.c_flex{
  display: flex;
  justify-content: center;
}
.a_flex{
  align-items: center;
}
.ca_flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.s_flex{
  display: flex;
  justify-content: space-between;
}
li{
  list-style: none;
}
.gap1{
  gap:  1rem;
}
.gap2{
  gap:  2rem;
}
.grow1{
  flex-grow: 1;
  flex-basis: 50%;
  width: 50%;
}
.main_color{
  color: var(--main-color);
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
